{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="{{ url_for('update_note_page', id=note.id) }}" method="POST">
        <div class="mb-3">
            <input type="text" class="form-control" name="title" value="{{ note.title }}" placeholder="Введите заголовок">
        </div>
        <div class="mb-3">
            <textarea class="form-control" name="introduction" rows="4" placeholder="Введите краткое описание">{{ note.introduction }}</textarea>
        </div>
        <div class="mb-3">
            <textarea class="form-control" name="text" rows="8" placeholder="Введите заметку">{{ note.text }}</textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Обновить">
    </form>
</div>
{% endblock %}